workflows/job-search-workflow.json
{
  "name": "Job Search AI Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "57498559-d815-4933-8577-234fc194b631",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Optimized search - 2-3 queries total\nconst searches = [\n  {\n    platform: 'JSearch',\n    keyword: 'software engineering intern summer 2025',\n    location: 'remote',\n    query: 'software engineering intern summer 2025 remote'\n  },\n  {\n    platform: 'JSearch',\n    keyword: 'software engineering intern',\n    location: 'New York',\n    query: 'software engineering intern New York'\n  },\n  {\n    platform: 'JSearch',\n    keyword: 'computer science intern',\n    location: 'United States',\n    query: 'computer science intern United States'\n  }\n];\n\nreturn searches.map(search => ({ json: search }));"
      },
      "id": "a6e94e63-e480-4e35-ab31-6e563643f335",
      "name": "Generate Search URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        112
      ]
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.keyword }} {{ $json.location }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "employment_types",
              "value": "INTERN"
            },
            {
              "name": "date_posted",
              "value": "month"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "73bf5d93eamsha7a6d3bb8ba6ac9p186822jsn399ac8de17f7"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "ff103ab5-f68b-45c9-82b4-62047e7274d5",
      "name": "Fetch Job Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse JSearch API response\nconst response = $input.first().json;\n\n// JSearch returns data in response.data array\nconst jobs = response.data || [];\n\n// If no jobs found, return empty array\nif (jobs.length === 0) {\n  return [];\n}\n\n// Map JSearch data to our format\nreturn jobs.map(job => ({\n  json: {\n    title: job.job_title || 'No title',\n    company: job.employer_name || 'Unknown company',\n    location: job.job_city && job.job_state \n      ? `${job.job_city}, ${job.job_state}` \n      : (job.job_country || 'Remote'),\n    description: job.job_description || 'No description available',\n    url: job.job_apply_link || job.job_google_link || '#',\n    platform: job.job_publisher || 'JSearch',\n    postedDate: job.job_posted_at_datetime_utc || new Date().toISOString(),\n    salary: job.job_min_salary || job.job_max_salary\n      ? `$${job.job_min_salary || '?'} - $${job.job_max_salary || '?'}` \n      : 'Not specified',\n    requiredSkills: job.job_required_skills || [],\n    jobType: job.job_employment_type || 'Not specified',\n    isRemote: job.job_is_remote || false,\n    experienceLevel: job.job_required_experience?.required_experience_in_months \n      ? `${job.job_required_experience.required_experience_in_months} months` \n      : 'Entry level'\n  }\n}));\n"
      },
      "id": "d320576f-e2f7-4063-ab78-5b4ed1212a6f",
      "name": "Parse Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mock AI response - simplified\nconst jobData = $input.first().json;\n\n// Generate mock AI analysis\nconst scores = [72, 78, 81, 85, 88, 92];\nconst randomScore = scores[Math.floor(Math.random() * scores.length)];\n\nconst analysis = {\n  matchScore: randomScore,\n  reasoning: `Strong match for freshman CS student`,\n  pros: ['Good technical fit', 'Learning opportunity', 'Entry-level friendly'],\n  cons: ['Competitive', 'Limited spots'],\n  recommendation: randomScore >= 80 ? 'apply' : 'maybe'\n};\n\n// Just pass through ALL the data from Parse Job Data\nreturn {\n  json: {\n    ...jobData,  // Spread all fields from input\n    date: new Date().toLocaleDateString(),\n    matchScore: randomScore,\n    recommendation: analysis.recommendation,\n    analysis: analysis\n  }\n};\n"
      },
      "id": "bea50b92-dc4c-4549-a8d7-d290c3cef5fb",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.matchScore }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        },
        "options": {}
      },
      "id": "1e2b865e-4644-4734-b72a-9177a9c636ab",
      "name": "Filter High Matches",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -432,
        112
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ new Date().toISOString() }}",
        "format": "yyyy-MM-dd",
        "options": {}
      },
      "id": "56fef7a0-4ab7-418d-9f91-03232cc2d3f9",
      "name": "Get Current Date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all matched jobs into a digest\nconst jobs = $input.all().map(item => item.json);\n\n// Sort by match score\njobs.sort((a, b) => (b.matchScore || 0) - (a.matchScore || 0));\n\n// Create email-friendly digest\nconst digest = {\n  date: new Date().toLocaleDateString(),\n  totalMatches: jobs.length,\n  jobs: jobs,\n  summary: `Found ${jobs.length} high-quality job matches today!`\n};\n\nreturn { json: digest };\n"
      },
      "id": "03ae577e-8efd-4bdd-955b-e95bee9fc04a",
      "name": "Create Job Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format digest as HTML email\nconst digest = $input.first().json;\nconst jobs = digest.jobs || [];\n\nlet html = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px; }\n    .header { background: #0066cc; color: white; padding: 20px; border-radius: 8px; }\n    .job-card { border: 1px solid #ddd; margin: 20px 0; padding: 20px; border-radius: 8px; }\n    .match-score { font-size: 24px; font-weight: bold; color: #0066cc; }\n    .high-score { color: #00aa00; }\n    .recommendation { display: inline-block; padding: 5px 15px; border-radius: 20px; font-weight: bold; }\n    .apply { background: #00aa00; color: white; }\n    .maybe { background: #ffaa00; color: white; }\n    .pros { color: #00aa00; }\n    .cons { color: #cc0000; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Job Search Digest - ${digest.date}</h1>\n    <p>${digest.summary}</p>\n  </div>\n`;\n\njobs.forEach((job, index) => {\n  const scoreClass = job.matchScore >= 85 ? 'high-score' : '';\n  const recClass = job.recommendation === 'apply' ? 'apply' : 'maybe';\n  \n  html += `\n  <div class=\"job-card\">\n    <h2>${index + 1}. ${job.title}</h2>\n    <p><strong>Company:</strong> ${job.company} | <strong>Location:</strong> ${job.location}</p>\n    <p><span class=\"match-score ${scoreClass}\">${job.matchScore}% Match</span> | \n       <span class=\"recommendation ${recClass}\">${job.recommendation.toUpperCase()}</span></p>\n    \n    ${job.analysis ? `\n    <p><strong>Analysis:</strong> ${job.analysis.reasoning}</p>\n    \n    ${job.analysis.pros && job.analysis.pros.length > 0 ? `\n    <p class=\"pros\"><strong>Pros:</strong></p>\n    <ul class=\"pros\">\n      ${job.analysis.pros.map(pro => `<li>${pro}</li>`).join('')}\n    </ul>\n    ` : ''}\n    \n    ${job.analysis.cons && job.analysis.cons.length > 0 ? `\n    <p class=\"cons\"><strong>Considerations:</strong></p>\n    <ul class=\"cons\">\n      ${job.analysis.cons.map(con => `<li>${con}</li>`).join('')}\n    </ul>\n    ` : ''}\n    ` : ''}\n    \n    <p><a href=\"${job.url}\" style=\"color: #0066cc; font-weight: bold;\">View Job Posting →</a></p>\n  </div>\n  `;\n});\n\nhtml += `\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    subject: `Job Search Digest - ${digest.totalMatches} Matches - ${digest.date}`,\n    html: html,\n    text: `Found ${digest.totalMatches} job matches. View the HTML email for details.`\n  }\n};\n"
      },
      "id": "2c2d0ae4-a3e5-4678-bd9d-1b77fffef119",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "massadraza2007@gmail.com",
        "toEmail": "massad.raza@outlook.com",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "66169469-89c9-4c96-bffd-f63e4477913e",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        400,
        112
      ],
      "webhookId": "b4229ed2-579b-435e-a554-098dc3d1afe6",
      "credentials": {
        "smtp": {
          "id": "PyLz96WlNTS6fKg9",
          "name": "SMTP account"
        }
      },
      "notes": "Configure your email credentials in n8n settings"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-tmCYC28MRlpzx6nnCNTMVs58MBF0EHVJ5kg1-ITEjM",
          "mode": "list",
          "cachedResultName": "Job Search Agent Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tmCYC28MRlpzx6nnCNTMVs58MBF0EHVJ5kg1-ITEjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-tmCYC28MRlpzx6nnCNTMVs58MBF0EHVJ5kg1-ITEjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title}}",
            "Date": "={{ $json.date }}\n",
            "Company": "={{ $json.company }}",
            "Location": "={{ $json.location }}",
            "Match Score": "={{ $json.matchScore }}",
            "Recommendation": "={{ $json.recommendation }}",
            "URL": "={{ $json.url }}",
            "Platform": "={{ $json.platform }}"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "postedDate",
              "displayName": "postedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requiredSkills",
              "displayName": "requiredSkills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "jobType",
              "displayName": "jobType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isRemote",
              "displayName": "isRemote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experienceLevel",
              "displayName": "experienceLevel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "matchScore",
              "displayName": "matchScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "815e7e7a-7c4c-46cd-9b63-fb225d50833d",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        0,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "l0z85Zk08R2Ro5hp",
          "name": "Google Sheets account"
        }
      },
      "notes": "Optional: Track all job matches in a spreadsheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Search URLs": {
      "main": [
        [
          {
            "node": "Fetch Job Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job Listings": {
      "main": [
        [
          {
            "node": "Parse Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Filter High Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter High Matches": {
      "main": [
        [
          {
            "node": "Create Job Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Digest": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Data": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1696a594-37c7-4495-9f62-37eb739c1e37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca256d69ee81b0bf97b131a8000d4549e9316bae59e41705a9a29299b8f4745e"
  },
  "id": "HvzDq0hT1oNLQypo",
  "tags": []
}